{% extends "base.html" %}
{% load static %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/hello.css' %}">
    
</head>
<div class="container mt-4"> 
    <div class="row">
        <div class="hello">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            {% if request.session.is_authenticated %}
                {% if request.session.user_yetki == 'Admin' or request.session.user_yetki == 'Kurucu' %}
                    <h3>Yetkili Yazılımcı.</h3>
                {% else %}
                    <h3>{{ example }} Yazılımcı.</h3>
                {% endif %}
            {% else %}
                <h3>Stajyer yazılımcı.</h3>
            {% endif %}
            
        
            
            <br/>
            <br/>
            
            <div class="card-header"> 
                <br/>
                <h1>{{ request.session.user_name }} {{ request.session.user_surname }}</h1>
            </div>
            <br/>
           
        </div>
    </div>
</div>
{% endblock %}
